@{
    ViewData["Title"] = "Sales Records";
}

<h2>@ViewData["Title"]</h2>
<hr />

<a asp-action="Create" class="btn btn-primary">Create New</a>
<br />
<br />
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
                <div class="form-group">
                    <label for="minDate">Min Date</label>
                    <input type="date" class="form-control" name="minDate" value=@ViewData["minDate"] />
                </div>
                <div class="form-group">
                    <label for="maxDate">Max Date</label>
                    <input type="date" class="form-control" name="maxDate" value=@ViewData["maxDate"] />
                </div>
            </div>
            <input type="submit" value="Simple Search" asp-action="SimpleSearch" class="btn btn-primary">
            <input type="submit" value="Grouping Search" asp-action="GroupingSearch" class="btn btn-primary">
        </form>
    </div>
</nav>
